body{
    margin-top: 50px;
    margin-bottom: 50px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-image: url(https://images.unsplash.com/photo-1596638787647-904d822d751e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1162&q=80);
}

html{
	height: 100%;
}


.container{
    background-color: #f5f0f0;
    width: 60%;
    padding: 50px 50px;
    margin: auto;
    border-radius: 40px;
    
}

h1{
	text-align: center;
    margin-bottom: 40px;
    /* border-bottom: 2px solid #cccdce; */
}

table, tr, td{
	border-collapse: collapse;
	border: 2px solid #cccdce;
}

th, td{
    width: 100%;
    text-align: center;
}

th{
    text-align: center;
}

td>input{
	border: 0px;
}

div{
	padding-bottom: 10px;
}

.specialization {
	display: none;
}

.Bachelors{
	display: none;
}

.rightSide{
	float: right;
}

legend{
    font-family: var(--bs-font-sans-serif);
    font-size: 1.2rem;
    font-weight: 400;
}

hr{
    margin: 10px;
}

small{
    color: #e74c3c;
}

.error {
	
	visibility: hidden;
}